---
import Header from "@components/Header.astro";
import MainSection from "@components/MainSection.astro";
import Layout from "@layout/Layout.astro";
import Previous from "public/media/icons/Previous.astro";
import { Modelos } from "@lib/data.ts";

export function getStaticPaths() {
	const data = Modelos.paths;

	return data.map((modelo) => ({
		params: { modelo },
	}));
}

const { modelo } = Astro.params;
---

<Layout title={`Modelo ${modelo}`}>
	<Header>
		<a
			href="/catalogo"
			class="text-sm flex items-center gap-2 hover:text-orange transition-all"
		>
			<Previous />
			<span>Atrás</span>
		</a>
	</Header>
	<MainSection>
		<h1 class="text-lg uppercase font-bold text-center">Hello from {modelo}</h1>
	</MainSection>
</Layout>
 @lib/catalogoData
