---
import { getCollection, type CollectionEntry } from "astro:content";
import Layout from "@src/layouts/Layout.astro";
import Header from "@components/Header.astro";
import Previous from "@media/icons/Previous.astro";
import MainSection from "@components/MainSection.astro";
import ContactLayout from "@src/layouts/ContactLayout.astro";

export async function getStaticPaths() {
	const posts = await getCollection("blog");
	return posts.map((post) => {
		return {
			params: {
				slug: post.slug,
			},
			props: {
				post,
			},
		};
	});
}

interface Props {
	post: CollectionEntry<"blog">;
}

const { post } = Astro.props;
const { Content } = await post.render();
---

<Layout title="blog posts">
	<Header>
		<a
			href="/blog"
			class="text-sm flex items-center gap-2 hover:text-orange transition-all"
		>
			<Previous />
			<span>Atrás</span>
		</a>
	</Header>

	<MainSection>
		<Content />
	</MainSection>

	<ContactLayout />
</Layout>

<style is:inline>
	#main-section {
		font-size: 20px !important;
	}
</style>
