---
import { Image } from "astro:assets";
import Header from "@components/Header.astro";
import MainSection from "@components/MainSection.astro";
import ContactLayout from "@src/layouts/ContactLayout.astro";
import Layout from "@src/layouts/Layout.astro";
import Previous from "@media/icons/Previous.astro";
import PhoneContact from "@media/icons/PhoneContact.astro";
import ExitIcon from "@media/icons/Exit.astro";
import AltaMiraHeader from "@media/images/pages/desarrollos/altaMira/render7.png";
import Render2 from "@media/images/pages/desarrollos/altaMira/render2.png";
import Render4 from "@media/images/pages/desarrollos/altaMira/render4.png";
import Render5 from "@media/images/pages/desarrollos/altaMira/render5.png";
import Render6 from "@media/images/pages/desarrollos/altaMira/render6.png";
import Render3 from "@media/images/pages/desarrollos/altaMira/render3.png";
import Render7 from "@media/images/pages/desarrollos/altaMira/render7.png";
import Render1 from "@media/images/pages/desarrollos/altaMira/render1.png";
import "@src/index.css";

const SliderImages: Array<ImageMetadata> = [
	Render2,
	Render4,
	Render5,
	Render6,
	Render3,
	Render7,
	Render1,
];

function shuffleArray(array: Array<ImageMetadata>) {
	for (let i = array.length - 1; i > 0; i--) {
		const j = Math.floor(Math.random() * (i + 1));
		[array[i], array[j]] = [array[j], array[i]];
	}
	return array;
}

const shuffledImages = shuffleArray(SliderImages);
---

<Layout title="Desarrollo - Alta Mira">
	<Header backgroundImage="/pages/desarrollos/altamira/renderHeader.png">
		<a
			href="/desarrollos"
			class="text-sm flex items-center gap-2 hover:text-orange transition-all"
		>
			<Previous />
			<span>Atrás</span>
		</a>
	</Header>
	<MainSection>
		<article
			class="flex max-lg:flex-col justify-center items-center max-w-[900px] mx-auto px-12 gap-10"
		>
			<figure class="max-lg:text-center">
				<h1 class="text-lg font-bold text-black uppercase">Alta Mira</h1>

				<p class="text-sm text-dark mt-3">
					En Alta Mira, fusionamos elegancia y comodidad para ofrecerte un
					estilo de vida excepcional. Nuestra amplia gama de propiedades,
					respaldada por la reputación de AltaVida con más de nueve años de
					experiencia, te brinda la libertad de encontrar tu hogar perfecto.
				</p>
				<a
					class="flex gap-3 items-center bg-orange hover:bg-[#De7700] transition-all mt-5 rounded-lg w-fit text-white px-5 py-2 max-lg:mx-auto"
					href="https://wa.link/ovut67"
				>
					<span class="text-sm">Contáctanos</span>
					<PhoneContact />
				</a>
			</figure>
			<Image
				format="webp"
				src={AltaMiraHeader}
				class={"mx-auto"}
				alt="Alta Mira Render"
				width={400}
				height={40}
			/>
		</article>

		<div class="mx-auto mt-14">
			<div class="pb-6">
				<h1 class="text-black text-lg text-center font-bold uppercase">
					Explora nuestra galería
				</h1>
				<span
					class="bg-black block mx-auto w-[60%] max-w-[500px] h-[2px] relative after:block after:w-[30%] after:h-[5px] after:mx-auto after:bg-orange mt-5 mb-5"
				></span>
			</div>
			<div class="altamiraImageGallery">
				{
					shuffledImages.map((image, index) => (
						<figure>
							<Image
								id="altamira-image-card"
								format="webp"
								src={image}
								alt={`Image: #${index}`}
								width={900}
								height={300}
							/>
						</figure>
					))
				}
			</div>
			<dialog id="modal">
				<img
					class="w-full max-w-[900px] fixed z-50 max-sm:top-1/3 top-1/4 left-0 right-0 mx-auto"
					alt="Render bless 6"
				/>
				<span
					id="close-button"
					class="fixed hover:scale-110 transition-all top-0 mt-10 mr-10 right-0 z-50 border-4 border-orange bg-orange bg-opacity-20 rounded-full p-2 cursor-pointer"
				>
					<ExitIcon />
				</span>
			</dialog>
		</div>
	</MainSection>

	<ContactLayout />
</Layout>

<script lang="js">
	document.addEventListener("astro:page-load", () => {
		const modal = document.querySelector("#modal");
		const modalImage = document.querySelector("#modal img");
		const closeModal = document.querySelector("#close-button");
		const openModal = document.querySelectorAll("#altamira-image-card");

		openModal.forEach((element) => {
			element.addEventListener("click", () => {
				const image = element.getAttribute("src");
				modalImage?.setAttribute("src", image);
				modal?.showModal();
				document.body.style.overflow = "hidden";
			});
		});

		closeModal?.addEventListener("click", () => {
			modal?.close();
			document.body.style.overflow = "auto";
		});
	});
</script>

<script>
	document.addEventListener("astro:page-load", () => {
		const image = document.querySelectorAll("#altamira-image-card");
		const observerOptions = {
			root: null,
			rootMargin: "150px",
			threshold: 0.9,
		};

		const observer = new IntersectionObserver((entries) => {
			entries.forEach((entry) => {
				const { isIntersecting } = entry;
				if (isIntersecting) {
					entry.target.classList.add("fade-in");
				} else {
					entry.target.classList.remove("fade-in");
				}
			});
		}, observerOptions);

		image.forEach((image) => {
			observer.observe(image);
		});
	});
</script>

<style>
	.altamiraImageGallery figure.active {
		position: fixed;
		display: grid;
		place-content: center;
		top: 0;
		transition: background 0.3s ease;
		transform: translate(-50%, -50%);
		background: rgba(0, 0, 0, 0.75);
		width: 100vw;
		height: 100vh;
		z-index: 100;
	}
	.altamiraImageGallery {
		display: grid;
		gap: 0.6rem;
		justify-items: center;
		grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
		max-width: 800px;
		margin: 0 auto;
	}
	.altamiraImageGallery figure {
		position: relative;
		box-shadow: 0 8px 11px rgba(0, 0, 0, 0.2);
		transition: transform 0.3s ease-out;
		cursor: pointer;
	}
	.altamiraImageGallery figure:hover {
		transform: scale(1.05);
	}
</style>
