---
import Header from "@components/Header.astro";
import MainSection from "@components/MainSection.astro";
import Previous from "public/media/icons/Previous.astro";
import PhoneContact from "public/media/icons/PhoneContact.astro";
import ContactLayout from "src/layouts/ContactLayout.astro";
import Layout from "src/layouts/Layout.astro";

const SliderImages = [
	"/media/images/pages/desarrollos/bless/render4.webp",
	"/media/images/pages/desarrollos/bless/render5.webp",
	"/media/images/pages/desarrollos/bless/render6.webp",
	"/media/images/pages/desarrollos/bless/render7.webp",
	"/media/images/pages/desarrollos/bless/render1.webp",
	"/media/images/pages/desarrollos/bless/render3.webp",
	"/media/images/pages/desarrollos/bless/render8.webp",
	"/media/images/pages/desarrollos/bless/render9.webp",
	"/media/images/pages/desarrollos/bless/render10.webp",
];

function shuffleArray(array: Array<string>) {
	for (let i = array.length - 1; i > 0; i--) {
		const j = Math.floor(Math.random() * (i + 1));
		[array[i], array[j]] = [array[j], array[i]];
	}
	return array;
}

const shuffledImages = shuffleArray(SliderImages);
---

<Layout title="Desarrollo - Bless">
	<Header
		backgroundImage="/media/images/pages/desarrollos/bless/bless_header.webp"
	>
		<a
			href="/desarrollos"
			class="text-sm flex items-center gap-2 hover:text-orange transition-all"
		>
			<Previous />
			<span>Atrás</span>
		</a>
	</Header>
	<MainSection>
		<article class="flex max-lg:flex-col max-w-[900px] mx-auto px-12 gap-10">
			<figure class="max-lg:text-center">
				<h1
					transition:name="bless-title"
					class="text-lg font-bold text-black uppercase"
				>
					Bless
				</h1>

				<p class="text-sm text-dark mt-3">
					Bless es la esencia del lujo inmobiliario de AltaVida. Ofrecemos
					propiedades exclusivas respaldadas por más de nueve años de
					experiencia y la construcción exitosa de más de 350 casas. En Bless,
					encontrarás elegancia y sofisticación en cada detalle.
				</p>

				<a
					class="flex gap-3 items-center bg-orange hover:bg-[#De7700] transition-all mt-5 rounded-full w-fit text-white px-5 py-2 max-lg:mx-auto"
					href="https://wa.link/ovut67"
				>
					<span class="text-sm">Contacto</span>
					<PhoneContact />
				</a>
			</figure>
			<img
				transition:name="bless-image"
				class="w-full max-w-[300px] max-lg:max-w-[600px] h-full mx-auto"
				src="/media/images/pages/desarrollos/bless/bless_portada.jpg"
				alt="Bless"
			/>
		</article>

		<div class="mx-auto mt-5">
			<h1 class="text-lg uppercase font-bold text-center py-5">
				Explora nuestra galería
			</h1>
			<div class="blessImageGallery">
				{
					shuffledImages.map((image, index) => (
						<figure id="bless-image-card">
							<img
								class="w-full max-w-[1080px]"
								src={image}
								alt={`Image: #${index}`}
							/>
						</figure>
					))
				}
			</div>
		</div>
	</MainSection>

	<ContactLayout />
</Layout>

<script>
	document.addEventListener("astro:page-load", () => {
		const image = document.querySelectorAll("#bless-image-card");
		image.forEach((image) => {
			image.addEventListener("click", () => {
				image.classList.toggle("active");
				document.body.style.overflow = image.classList.contains("active")
					? "hidden"
					: "auto";
			});
		});
	});
</script>

<style>
	.blessImageGallery figure.active {
		position: fixed;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		top: 50%;
		left: 50%;
		transition: background 0.3s ease;
		transform: translate(-50%, -50%);
		background: rgba(0, 0, 0, 0.75);
		width: 100vw;
		height: 100vh;
		z-index: 100;
	}
	.blessImageGallery {
		width: 100%;
		max-width: 800px;
		margin: 0 auto;
		display: grid;
		justify-items: center;
		grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
		gap: 3px;
	}
	.blessImageGallery figure {
		position: relative;
		box-shadow: 0 8px 11px rgba(0, 0, 0, 0.2);
		transition: transform 0.3s ease-out;
		cursor: pointer;
	}
	.blessImageGallery figure:not(.active):hover {
		transform: scale(1.03);
	}
</style>
