---
import Header from "@components/Header.astro";
import Layout from "../layouts/Layout.astro";
import MainSection from "@components/MainSection.astro";
import ContactLayout from "src/layouts/ContactLayout.astro";
---

<Layout title="AltaVida - Cat치logo 游닍">
  <Header
    title="Cat치logo"
    subtitle="Explora a fondo nuestros modelos de construcci칩n"
  />
  <MainSection>
    <h1 class="text-lg text-center font-bold uppercase">Cat치logo 游닍</h1>
    <p class="text-sm text-center max-w-[600px] mx-auto">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam quibusdam
      sit quia nostrum earum ea tempore dolorem. Distinctio totam non
      consequuntur voluptate officia adipisci magnam, sed, aperiam, ullam natus
      quibusdam!
    </p>
  </MainSection>

  <ContactLayout />
</Layout>
