---
import Header from "@components/Header.astro";
import Layout from "../layouts/Layout.astro";
import MainSection from "@components/MainSection.astro";
---

<Layout title="AltaVida - Desarrollos 🔨">
	<Header title="Desarrollos" subtitle="Explora a fondo nuestros proyectos" />
	<MainSection>
		<div class="max-w-[700px] mx-auto">
			<p class="text-sm text-center px-5">
				Descubre la excelencia de AltaVida en proyectos que abarcan desde lujo
				con <strong>Bless</strong> hasta versatilidad con
				<strong> Río Vida</strong> y confiabilidad con
				<strong> Altamira</strong>. Nuestra experiencia de nueve años, más de
				350 casas construidas y servicios de intermediación financiera nos
				distinguen. Explora nuestras opciones con un compromiso inquebrantable
				con la excelencia, versatilidad e integridad.
			</p>
		</div>

		<div class="imageButton_container">
			<img
				class="max-w-[400px] h-full"
				src="/public/media/images/pages/desarrollos/altaMira/render.png"
				alt="Alta Mira render button"
			/>
			<img
				class="w-full h-full"
				src="/public/media/images/pages/desarrollos/bless/bless_portada.jpg"
				alt="Río Vida render button"
			/>
			<img
				class="max-w-[400px] h-full"
				src="/public/media/images/pages/desarrollos/rioVida_portada/rioVida_portada.png"
				alt="Bless render button"
			/>
		</div>
	</MainSection>
</Layout>

<style>
	.imageButton_container {
		max-width: 900px;
		margin: 0 auto;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 1rem;
	}
	.imageButton_container img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		cursor: pointer;
	}
	.imageButton_container img:nth-child(2) {
		grid-row-start: 1;
		grid-row-end: 3;
	}
</style>
