---
import { Image } from "astro:assets";
import { Creditos } from "@lib/creditos";
import Header from "@components/Header.astro";
import Layout from "@layouts/Layout.astro";
import MainSection from "@components/MainSection.astro";
import ContactLayout from "@src/layouts/ContactLayout.astro";
import "@src/index.css";
---

<Layout title="AltaVida - Financiamiento 💵">
  <Header
    backgroundImage="/pages/financiamiento/HeaderBackground2.webp"
    title="Financiamiento"
    subtitle="Asesoría personalizada y gratuita"
  />
  <MainSection>
    <div class="max-w-[800px] mx-auto">
      <p class="text-sm text-dark mb-12">
        Porque AltaVida piensa en tí, te ofrecemos increíbles facilidades al
        momento de comprar tu casa o departamento, queremos que formes parte de
        nuestra gran familia.
        <br />
        <br />
        {" "}Por eso, te asesoramos para que elijas tu crédito de vivienda
        social, con la entidad bancaria que mejor se adapte a tus necesidades.
        <br />
        <br />
        {" "}Estás a tiempo para escoger tu hogar con nosotros.
        <br />
        <br />
        <strong>Conoce los diferentes tipos de créditos que aceptamos:</strong>
      </p>

      <div class="creditosContainer">
        {
          Creditos.map((credito, index) => (
            <div
              id={`creditoCard-${index}`}
              class="creditoCard w-full border-orange text-dark-gray backdrop-blur-3xl bg-navy-blue bg-opacity-5 max-w-[200px] min-h-[100px] p-5 rounded-xl shadow-md shadow-gray-200"
            >
              <Image
                format="webp"
                width={200}
                height={200}
                class="object-cover"
                src={credito.src}
                alt="Credit info"
              />
              <h1 class="text-center text-sm font-my-raleway pt-4">
                {credito.name}
              </h1>
            </div>
          ))
        }
      </div>
    </div>
  </MainSection>

  <ContactLayout />
</Layout>

<script>
  document.addEventListener("astro:page-load", () => {
    const creditosContainer = document.querySelector(".creditosContainer");
    const observerOptions = {
      root: null,
      rootMargin: "100px",
      threshold: 0.9,
    };

    const observer = new IntersectionObserver((entries) => {
      entries.forEach((entry) => {
        const { isIntersecting } = entry;
        if (isIntersecting) {
          entry.target.classList.add("opacity-0");
          entry.target.classList.add("fade-in");
        } else {
          entry.target.classList.remove("opacity-100");
          entry.target.classList.remove("fade-in");
        }
      });
    }, observerOptions);

    creditosContainer?.querySelectorAll(".creditoCard").forEach((card) => {
      observer.observe(card);
    });
  });
</script>
