---
import { Icon } from "astro-icon";
import Layout from "../layouts/Layout.astro";
import Slider from "@components/Slider.jsx";
---

<Layout title="AltaVida Srl">
  <section class="flex justify-center items-end px-10 py-6">
    <div class="flex flex-col gap-4">
      <div
        class="text-white text-sm text-center max-w-[600px] p-5 pt-3 z-10 relative after:block after:absolute after:w-full after:h-full after:backdrop-blur-[4px] after:bg-opacity-60 after:top-0 after:left-0 after:-z-50 before:block before:absolute before:w-full before:h-full before:border-2 before:border-orange before:-top-2 before:-right-2 before:-z-50"
      >
        <h2>
          <strong class="text-orange text-sm">
            Residencias excepcionales</strong
          >
           donde la elegancia y la comodidad se unen para
          <strong class="text-orange text-sm">
            crear experiencias inolvidables.
          </strong>
        </h2>
      </div>
      <Icon
        name="ph:arrow-fat-lines-down-duotone"
        class="text-white w-[40px] animate-bounce mt-8 mx-auto"
      />
    </div>
  </section>

  <section class="bg-white pt-12">
    <div class="pb-6">
      <h1 class="text-black text-lg text-center font-bold uppercase">
        Conoce nuestros desarrollos en Tarija
      </h1>
      <span
        class="bg-black block mx-auto w-[40%] h-[2px] relative after:block after:w-[30%] after:h-[5px] after:mx-auto after:bg-orange mt-5 mb-5"
      ></span>
    </div>
    <p class="text-dark text-sm max-w-[900px] mx-auto text-center">
      Explora nuestro sólido legado de confianza y calidad en los proyectos de
      Tarija. Con más de nueve años de experiencia y la entrega exitosa de más
      de 350 casas, no solo construimos viviendas, sino transformamos sueños en
      realidad. Desde nuestros condominios vanguardistas, como Alta Mira, Río
      Vida y Bless, hasta las casas personalizadas, cada proyecto es un
      testimonio palpable de excelencia.
    </p>
    <Slider />
  </section>
</Layout>

<style>
  html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
  }

  section:nth-child(2) {
    height: 100vh;
    scroll-snap-align: start;
  }

  section:first-child {
    min-height: 100vh;
    background-image: url("/media/images/index/01_HeroImg.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    scroll-snap-align: start;

    animation: changeImage 8s infinite alternate;
  }

  @keyframes changeImage {
    25% {
      background-image: url("/media/images/index/01_HeroImg.webp");
    }
    50% {
      background-image: url("/media/images/index/02_HeroImg.webp");
    }
    75% {
      background-image: url("/media/images/index/03_HeroImg.webp");
    }
    100% {
      background-image: url("/media/images/index/04_HeroImg.webp");
    }
  }
</style>
