---
import Layout from "../layouts/Layout.astro";
import ProjectCard from "@components/ProjectCard.astro";
---

<Layout title="AltaVida - Inicio">
  <section class="flex justify-center items-end px-10 py-6">
    <div class="flex flex-col gap-4">
      <div
        class="text-white text-sm text-center max-w-[600px] p-5 pt-3 mb-4 z-10 relative after:block after:absolute after:w-full after:h-full after:backdrop-blur-[4px] after:bg-opacity-60 after:top-0 after:left-0 after:-z-50 before:block before:absolute before:w-full before:h-full before:border-2 before:border-orange before:-top-2 before:-right-2 before:-z-50"
      >
        <h2>
          <strong class="text-orange text-sm">
            Residencias excepcionales</strong
          >
           donde la elegancia y la comodidad se unen para
          <strong class="text-orange text-sm">
            crear experiencias inolvidables.
          </strong>
        </h2>
      </div>
    </div>
  </section>

  <section class="bg-white pt-12">
    <div class="pb-6">
      <h1 class="text-black text-lg text-center font-bold uppercase">
        Conoce nuestros desarrollos en Tarija
      </h1>
      <span
        class="bg-black block mx-auto w-[40%] h-[2px] relative after:block after:w-[30%] after:h-[5px] after:mx-auto after:bg-orange mt-5 mb-5"
      ></span>
    </div>
    <p class="text-dark text-sm max-w-[900px] mx-auto text-center">
      Explora nuestro sólido legado de confianza y calidad en los proyectos de
      Tarija. Con más de nueve años de experiencia y la entrega exitosa de más
      de 350 casas, no solo construimos viviendas, sino transformamos sueños en
      realidad. Desde nuestros condominios vanguardistas, como Alta Mira, Río
      Vida y Bless, hasta las casas personalizadas, cada proyecto es un
      testimonio palpable de excelencia.
    </p>
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <ProjectCard
            title="Bless"
            description="Explora condominios verticales elegantes y cómodos. Más de 9 años de experiencia y 350 casas de alta calidad entregadas. Encuentra tu espacio perfecto en nuestros proyectos."
            image="/public/media/logos/projects/Logo_Bless.webp"
          />
        </div>
        <div class="swiper-slide">
          <ProjectCard
            title="Alta Mira"
            description="Tu hogar en el cielo. Lujo, comodidad y vistas inspiradoras se fusionan en tu nuevo refugio en las alturas."
            image="/public/media/logos/projects/Logo_AltaMira.webp"
          />
        </div>
        <div class="swiper-slide">
          <ProjectCard
            title="Río Vida"
            description="Naturaleza y comodidad en un hogar perfecto respaldado por años de experiencia en alta calidad. Tu refugio, un nuevo comienzo."
            image="/public/media/logos/projects/Logo_RioVida.webp"
          />
        </div>
      </div>
    </div>
  </section>
</Layout>

<script
  is:inline
  src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
<script is:inline>
  new Swiper(".swiper", {
    effect: "flip",
    grabCursor: true,
    autoplay: {
      delay: 3000,
    },
    loop: true,
  });
</script>

<style>
  section:first-child {
    min-height: 100vh;
    background-image: url("/media/images/home/01_HeroImg.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    scroll-snap-align: start;

    animation: changeImage 8s infinite alternate;
  }

  @keyframes changeImage {
    25% {
      background-image: url("/media/images/home/01_HeroImg.webp");
    }
    50% {
      background-image: url("/media/images/home/02_HeroImg.webp");
    }
    75% {
      background-image: url("/media/images/home/03_HeroImg.webp");
    }
    100% {
      background-image: url("/media/images/home/04_HeroImg.webp");
    }
  }
</style>
