---
import Layout from "../layouts/Layout.astro";
---

<Layout title="AltaVida - Nosotros 👥">
	<section class="max-w-[600px] mx-auto text-center">
		<h1 class="text-lg uppercase font-bold">Nosotros 👥</h1>
		<p class="text-sm">
			Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi ipsum
			voluptates quia sed impedit, fugit illum doloribus dignissimos sequi qui
			quo est iste quae ab vero facilis culpa corrupti iure?
		</p>
	</section>
</Layout>
