---
import Header from "@components/Header.astro";
import Layout from "../layouts/Layout.astro";
import MainSection from "@components/MainSection.astro";
---

<Layout title="AltaVida - Testimoniales 🗣">
	<Header
		title="Testimoniales"
		subtitle="Descubre las opciones de nuestros clientes satisfechos"
	/>
	<MainSection>
		<h1 class="text-lg text-center font-bold uppercase">Testimonios 🗣️</h1>
		<p class="text-sm text-center max-w-[600px] mx-auto">
			Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam quibusdam
			sit quia nostrum earum ea tempore dolorem. Distinctio totam non
			consequuntur voluptate officia adipisci magnam, sed, aperiam, ullam natus
			quibusdam!
		</p>
	</MainSection>
</Layout>
