---
import Header from "@components/Header.astro";
import Layout from "@layouts/Layout.astro";
import MainSection from "@components/MainSection.astro";
import ContactLayout from "@src/layouts/ContactLayout.astro";
import PhoneContact from "@media/icons/PhoneContact.astro";
---

<Layout title="AltaVida - Testimoniales 游딖">
  <Header
    title="Testimoniales"
    subtitle="Descubre las opciones de nuestros clientes satisfechos"
  />
  <MainSection>
    <header
      class="flex max-lg:flex-col max-lg:text-center justify-center items-center max-w-[80%] mx-auto mb-14 gap-10"
    >
      <div class="w-full max-w-[500px] mx-auto">
        <h1 class="text-lg mb-4 text-black">
          Conoce lo que piensan nuestros clientes de AltaVida
        </h1>
        <p class="text-sm text-dark">
          En AltaVida, la confianza de nuestros clientes es nuestra mayor
          recompensa. Descubre por qu칠 nos eligen una y otra vez para encontrar
          su hogar perfecto en medio de la naturaleza.
        </p>
        <a
          class="flex gap-3 items-center bg-orange hover:bg-[#De7700] transition-all mt-6 rounded-lg w-fit text-white px-5 py-2 max-lg:mx-auto"
          href="https://wa.link/ovut67"
        >
          <span class="text-sm">Cont치ctanos</span>
          <PhoneContact />
        </a>
      </div>
      <div>
        <img
          class="w-full max-w-[420px] mx-auto object-cover"
          src="/src/media/images/pages/testimoniales/testimonio_11.webp"
          alt="Familias felices en AltaVida"
          loading="lazy"
          decoding="async"
        />
      </div>
    </header>

    <div class="flex flex-col gap-14">
      <div
        class="bg-navy-blue text-white max-w-[900px] mx-auto flex max-lg:flex-col justify-center items-center"
      >
        <video
          class="w-full max-w-[360px] h-fit object-cover"
          src="/src/videos/testimonio1.mp4"
          controls></video>

        <p class="text-sm max-lg:text-center m-8">
          En Altavida, no solo construimos casas, creamos hogares que cumplen
          tus sue침os. La satisfacci칩n de nuestros clientes es nuestro mayor
          logro, y nos enorgullece ser parte de la realizaci칩n de sus sue침os.
        </p>
      </div>
    </div>
  </MainSection>

  <ContactLayout />
</Layout>
