---
import { AiFillInstagram } from "react-icons/ai";
import { BsFacebook } from "react-icons/bs";
import { FaTiktok } from "react-icons/fa";
---

<footer
	class="w-full flex flex-col justify-center items-center gap-5 py-5 bg-white"
>
	<img
		class="max-w-[100px]"
		src="/media/logos/brandLogo.webp"
		alt="Brand Logo"
	/>
	<div class="flex gap-8 justify-center items-center">
		<a href="https://www.facebook.com/AltaVidaBienesRaices">
			<BsFacebook color="#4E5B6D" size={"3em"} />
		</a>
		<a href="https://www.instagram.com/altavidabienesraices/">
			<AiFillInstagram color="#4E5B6D" size={"3em"} />
		</a>
		<a href="https://www.tiktok.com/@altavida.oficial">
			<FaTiktok color="#4E5B6D" size={"3em"} />
		</a>
	</div>
</footer>
