---
import { Icon } from "astro-icon";
import { Image } from "astro:assets";
import brandLogoImage from "@media/logos/brand/brandLogo.webp";
---

<footer
  class="w-full flex flex-col justify-center items-center gap-5 py-5 bg-white"
>
  <Image
    format="webp"
    src={brandLogoImage}
    alt="Brand Logo"
    width={100}
    height={100}
  />
  <div class="flex gap-8 justify-center items-center">
    <a href="https://www.facebook.com/AltaVidaBienesRaices">
      <Icon
        name="ph:facebook-logo-duotone"
        class="text-[#4E5B6D] hover:text-orange transition-colors w-[35px]"
      />
    </a>
    <a href="https://www.instagram.com/altavidabienesraices/">
      <Icon
        name="ph:instagram-logo-duotone"
        class="text-[#4E5B6D] hover:text-orange transition-colors w-[35px]"
      />
    </a>
    <a href="https://www.tiktok.com/@altavida.oficial">
      <Icon
        name="ph:tiktok-logo-duotone"
        class="text-[#4E5B6D] hover:text-orange transition-colors w-[35px]"
      />
    </a>
  </div>
</footer>

<style>
  a {
    animation: iconsAnimation infinite ease-out 1s alternate;
  }
</style>
