---
import { Icon } from "astro-icon";

interface HeaderProps {
	title: string;
	subtitle: string;
}

const { title, subtitle } = Astro.props;
---

<header
	class="bg-navy-blue bg-cover bg-no-repeat bg-center bg-fixed text-white flex flex-col items-center justify-start mt-6 w-full h-[20vh] relative"
>
	<a
		href="/"
		class="flex items-center gap-2 hover:bg-white hover:bg-opacity-25 hover:border-white transition-all px-6 py-2 my-4 rounded-md text-sm border-2 border-gray-500"
	>
		<Icon name="ph:house-simple-duotone" class="text-white w-[25px]" />
		<span>Inicio</span>
	</a>
	<div class="flex flex-col justify-center items-center">
		<h1 class="text-lg text-center font-my-raleway font-bold uppercase">
			{title}
		</h1>
		<p class="text-sm text-center">{subtitle}</p>
	</div>
</header>
