---
import HamburgerMenu from "public/media/icons/HamburgerMenu.astro";
---

<nav
  id="landing-header"
  class="absolute py-6 flex lg:flex-col gap-5 items-center top-0 w-full justify-around z-40 text-white border-b-2 border-white bg-black bg-opacity-40"
>
  <a href="/" class="w-navBrandLogo">
    <img src="/media/logos/brand/brandLogo_white.webp" alt="AltaVida Logo" />
  </a>

  <div class="lg:hidden sm:block cursor-pointer">
    <HamburgerMenu />
  </div>

  <div class="hidden lg:block sm:hidden mt-2">
    <ul
      class="flex text-sm [&>li>a]:transition-colors [&>li>a]:duration-500 [&>li>a]:text-current [&>li>a]:font-medium [&>li>a]:inline-block [&>li>a]:px-4 [&>li>a]:py-2"
    >
      <li><a id="item" href="/desarrollos">Desarrollos</a></li>
      <li><a id="item" href="/catalogo">Catálogo</a></li>
      <li><a id="item" href="/financiamiento">Financiamiento</a></li>
      <li><a id="item" href="/nosotros">Nosotros</a></li>
      <li><a id="item" href="/testimoniales">Testimonios</a></li>
      <li><a id="item" href="/blog">Blog</a></li>
    </ul>
  </div>
</nav>

<div
  id="menu-backdrop"
  class={`
      fixed bg-white/30 border-2 border-white backdrop-blur-sm rounded-lg
      translate-x-[var(--left)] translate-y-[var(--top)]
      left-0 top-0
      w-[var(--width)] h-[var(--height)]
      transition-all duration-300
      ease-in-out opacity-0 z-30
    `}
>
</div>

<style>
  .itemSelected {
    color: #ff8900;
    border: 2px solid #ff8900;
    border-radius: 0.5rem;
  }
</style>

<script>
  document.addEventListener("astro:page-load", () => {
    const item = document.querySelectorAll("#item");

    item.forEach((item) => {
      if (window.location.pathname.includes(item.getAttribute("href") ?? "")) {
        item.classList.add("itemSelected");
      }
    });
  });
</script>

<script>
  document.addEventListener("astro:page-load", () => {
    const listItem = document.querySelectorAll("#landing-header li");
    const menuBackDrop = document.querySelector(
      "#menu-backdrop",
    ) as HTMLElement;

    listItem.forEach((item) => {
      item.addEventListener("mouseenter", () => {
        const { left, top, width, height } = item.getBoundingClientRect();

        menuBackDrop.style.setProperty("--left", `${left}px`);
        menuBackDrop.style.setProperty("--top", `${top}px`);
        menuBackDrop.style.setProperty("--width", `${width}px`);
        menuBackDrop.style.setProperty("--height", `${height}px`);

        menuBackDrop.style.opacity = "1";
        menuBackDrop.style.visibility = "visible";
      });

      item.addEventListener("mouseleave", () => {
        menuBackDrop.style.opacity = "0";
        menuBackDrop.style.visibility = "hidden";
      });
    });
  });
</script>

<script>
  document.addEventListener("astro:page-load", () => {
    const headerEl = document.querySelector("#landing-header") as HTMLElement;

    const observerOptions = {
      root: null,
      rootMargin: "0px", // en cuanto se vea el elemento
      threshold: 0.9, // porcentaje de visibilidad
    };

    const observer = new IntersectionObserver((entries) => {
      entries.forEach((entry) => {
        const { isIntersecting } = entry;
        if (isIntersecting) {
          const color = entry.target.getAttribute("data-header-color");
          headerEl.style.color = color ?? "";
        }
      });
    }, observerOptions);

    const sectionElements = document.querySelectorAll(".landing-section");
    sectionElements.forEach((section) => observer.observe(section));
  });
</script>
