---
import Icon from "astro-icon";
---

<section
  class="w-full min-h-[60vh] bg-[url('/src/assets/media/images/contact_background.webp')] bg-center bg-no-repeat bg-cover bg-fixed text-white grid place-content-center gap-10 py-14"
>
  <div>
    <h1 class="text-white text-lg text-center font-bold uppercase px-4">
      Contáctanos desde cualquier parte del país
    </h1>
    <span
      class="bg-white block mx-auto w-[60%] max-w-[500px] h-[2px] relative after:block after:w-[30%] after:h-[5px] after:mx-auto after:bg-orange mt-5 mb-5"
    ></span>
  </div>

  <div
    class="max-w-[600px] mx-auto gap-14 flex justify-center flex-wrap text-center"
  >
    <div class="text-sm flex flex-col items-center">
      <span class="mb-2">¿Tienes dudas? Llámanos</span>
      <a
        class="bg-orange hover:bg-[#De7700] px-8 py-2 rounded-full font-bold flex gap-3"
        href="tel:+591 62851111"
      >
        <Icon
          name="ic:baseline-phone-in-talk"
          class="text-white transition-colors w-[25px]"
        />
         +591 62851111
      </a>
    </div>

    <div class="text-sm flex flex-col items-center">
      <span class="mb-2">Escríbenos</span>
      <a
        class="bg-orange hover:bg-[#De7700] px-8 py-2 rounded-full font-bold flex gap-3"
        href="https://wa.link/ovut67"
        target="_blank"
        rel="noopener noreferrer"
      >
        <Icon
          name="ph:chats-circle-duotone"
          class="text-white transition-colors w-[25px]"
        />
         Contacto de soporte
      </a>
    </div>

    <div class="text-sm flex flex-col items-center">
      <span class="mb-2">¿Deseas información general?</span>
      <a
        class="bg-orange hover:bg-[#De7700] px-8 py-2 rounded-full font-bold flex gap-3"
        href="mailto:contacto@altavidasrl.com"
      >
        <Icon
          name="ph:chat-circle-dots-duotone"
          class="text-white transition-colors w-[25px]"
        />
         contacto@altavidasrl.com
      </a>
    </div>
  </div>
</section>
